/* Box Model */

div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
/* calculation  */
/* 320px (width)
+ 20px (left + right padding)
+ 10px (left + right border)
+ 0px (left + right margin)
= 350px */